/* Fuentes */
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;400;700&family=Ubuntu:wght@300;400;700&display=swap');
/*
    font-family: 'Source Sans Pro', sans-serif; 
    font-family: 'Ubuntu', sans-serif;
*/

/* Colores */
/*
    Negro - #000000
    Gris - #DFDFDF
    GrisOs - #5E5E5E
    MostO - #C9B074
    MostC - #E0C482
    Amar - #FFB500
*/

/* Neutralidad */
*{
    margin: 0px;
    padding: 0px;
}

/* General */
body{
    background-color: #FAFAFA;
}
img{
    width: 100%;
    height: auto;
}
h2{
    font-size: 32px;
    color: #FFB500;
    display: block;
    text-align: left;
    font-family: 'Source Sans Pro', sans-serif;
    padding: 10px 10px;
    width: 90%;
    margin: 0 auto;
}
h3{
    color: #5E5E5E;
    font-family: 'Source Sans Pro', sans-serif;
    width: 90%;
    margin: 0 auto;
}
/* Formularios */
form{
    font-family: 'Source Sans Pro', sans-serif;
}
label{
    padding:5px 10px 5px 10px;
    width: 80%;
    font-size: 20px;
    margin: 0 auto;
    display: block;
}
input{
    width: 80%;
    height: 25px;
    display: block;
    font-size: 20px;
    margin:10px auto;
    border:1px solid #C9B074;
    border-radius: 10px;
    background-color: white;
    text-align: center;
    -webkit-box-shadow: 6px 6px 6px 1px rgba(0,0,0,0.12);
    -moz-box-shadow: 6px 6px 6px 1px rgba(0,0,0,0.12);
    box-shadow: 6px 6px 6px 1px rgba(0,0,0,0.12);
}
.bt-enviar{
    color: #FFB500;
    font-weight: 700;
    height: 30px;
    margin:15px auto;
    margin-bottom: 10px;
}
.caja-alerta{
    width: 80%;
    margin: 0 auto;
    padding: 10px 10px;
    color: red;
    text-align: center;
}

/* I-Login */
#login-box{
    width: 40%;
    margin: 0 auto;
    border: 3px solid #FFB500;
    padding:10px 10px 30px 10px;
    margin-top: 10%;
    border-radius: 15px;
    background-color: white;
}
#login-logo{
    width: 50%;
    margin: 0 auto;
}

/* Header */
header{
    overflow: hidden;
    height: 100px;
    padding-top: 30px;
    font-family: 'Source Sans Pro', sans-serif; 
    border-bottom: 1px solid #DFDFDF;
    -webkit-box-shadow: 0px 5px 4px 0px rgba(223,223,223,1);
    -moz-box-shadow: 0px 5px 4px 0px rgba(223,223,223,1);
    box-shadow: 0px 5px 4px 0px rgba(223,223,223,1);
}
#header-logo{
    margin-left: 5%;
    width: 10%;
    float: left;
}
#header-btn{
    width: 10%;
    margin-right: 5%;
    float: right;
}
.btn-sesion{
    width: 80%;
    height: 40px;
    background-color: #FFB500;
    color: white;
    -webkit-box-shadow: 0px 0px 5px 3px rgba(255,181,0,1);
    -moz-box-shadow: 0px 0px 5px 3px rgba(255,181,0,1);
    box-shadow: 0px 0px 5px 3px rgba(255,181,0,1);
    text-align: center;
    font-size: 20px;
    padding-top: 10px;
    border-radius: 5px;
}
.btn-sesion:hover{
    cursor: pointer;
}
#header-menu{
    margin-right: 5%;
    width: 60%;
    float: right;
}
.menu{
    display: flex;
    justify-content: flex-end;
    margin: 0 auto;
    height: 100vh;
     list-style: none;
    padding-top: 10px;
}
.menu li {
  width: 125px;
  height: 50px;
  transition: background-position-x 0.9s linear;
  text-align: center;
}
li a {
    font-size: 26px;
    color: #5E5E5E;
    text-decoration: none;
    transition: all 0.45s;
  }

li a:hover {
    background: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4KPHN2ZyB2ZXJzaW9uPSIxLjEi%0D%0AIGlkPSJMYXllcl8xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhs%0D%0AaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB4PSIwcHgiIHk9IjBweCIKCSB3aWR0%0D%0AaD0iMzkwcHgiIGhlaWdodD0iNTBweCIgdmlld0JveD0iMCAwIDM5MCA1MCIgZW5hYmxlLWJhY2tn%0D%0Acm91bmQ9Im5ldyAwIDAgMzkwIDUwIiB4bWw6c3BhY2U9InByZXNlcnZlIj4KPHBhdGggZmlsbD0i%0D%0Abm9uZSIgc3Ryb2tlPSIjZDk0ZjVjIiBzdHJva2Utd2lkdGg9IjEuNSIgc3Ryb2tlLW1pdGVybGlt%0D%0AaXQ9IjEwIiBkPSJNMCw0Ny41ODVjMCwwLDk3LjUsMCwxMzAsMAoJYzEzLjc1LDAsMjguNzQtMzgu%0D%0ANzc4LDQ2LjE2OC0xOS40MTZDMTkyLjY2OSw0Ni41LDI0My42MDMsNDcuNTg1LDI2MCw0Ny41ODVj%0D%0AMzEuODIxLDAsMTMwLDAsMTMwLDAiLz4KPC9zdmc+Cg==");
    animation: line 1s;
  }

li:hover a {
    color: #FFB500;
  }

li:not(:last-child) {
    margin-right: 30px;
  }

@keyframes line {
  0% {
    background-position-x: 390px;
  }
}
/* Adopciones */
#adopciones{
    width: 60%;
    margin: 0 5%;
    float: left;
    padding-top: 10px;
}
.adopcion-box{
    width: 20%;
    margin: 10px 1.5%;
    padding: 1%;
    -webkit-box-shadow: 5px 5px 5px 1px rgba(223,223,223,1);
    -moz-box-shadow: 5px 5px 5px 1px rgba(223,223,223,1);
    box-shadow: 5px 5px 5px 1px rgba(223,223,223,1);
    overflow: hidden;
    float: left;
}
.adopcion-foto{
    font-family: sans-serif;
    color: white;
    float:left;
    width: 100%;
    background: white;
}
.adopcion-foto:last-child{
  margin-right:0;
}
.adopcion-foto:before{
    content:"";
    display:block;
    padding-top:100%;
  float: left;
}
/* Avisos */
